.dropdown:hover,
.dropdown:active {
  border: transparent;
  text-shadow: none;
}

.dropdown-menu {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu .dropdown-item:hover {
  background: transparent;
  text-decoration: underline;
}