extends base

block append content
  form(method='POST' class="container")
    <div class="form-group row">
      label(for="fileName") File Name
      input(type="text" name="fileName" class="form-control" id="sectionName" placeholder="File Name")
    </div>
    if error
      div(class="form-group row has-danger")
        span(class="form-control-feedback")= error
    div(class="form-group row")
      input(type="submit" class="btn btn-primary")
