extends base

block append header
  link(
    rel="stylesheet" 
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"
  )

  script(
      src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
    )

  block scripts
    script(src="/javascripts/retrieve.js")
    script(src="/javascripts/styleguide.js")
    script(src="/javascripts/xhr.js")
    script(src="/javascripts/entry.js")
    script(src="/javascripts/bg.js")
    script(src="/javascripts/edit.js")
    script(src="/javascripts/fontawesome-all.min.js")

  link(rel="stylesheet" type="text/css" href="/stylesheets/shared.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/hljs.css")

  block styles
    each val in allStyles || []
      link(rel="stylesheet" type="text/css" href='/' + val)

block content
  input(type="hidden" id="ids" value=ids)

  block buttons

  div(id="entries")
    div(class="row pd-content")
        h1(class="pd-title col-12 text-center")

