extends content-layout

block scripts

block append content
  div(class="container")
    div(class="row")
      each val, index in templates || []
        div(class="card col-3")
          div(class="card-block")
            span= val

