extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/buttons") Buttons
    li
      a(href="/typography") Typography
    li
      a(href="/modals") Modals
    li
      a(href="/forms") Forms
    li
      a(href="/lists") Lists