/*
These classes are for display purposes only,
hover styles should come from wether or not the
icon is a button or static
*/

.fa-lg:hover {
	opacity: 1.0;
	cursor: pointer !important;
}

.opacity40 {
	opacity: 0.4;
}

.opacity70 {
	opacity: 0.7;
}

.rotate7 {
	transform: rotate(7deg);
}