<body-bg-container class="text-center bg-primary">
  <body-bg class="bg-body-default">
    <span>Default</span>
  </body-bg>
  <body-bg class="bg-body-critical">
    <span>Critical</span>
  </body-bg>
  <body-bg class="bg-body-essential">
    <span>Essential</span>
  </body-bg>
  <body-bg class="bg-body-important">
    <span>Important</span>
  </body-bg>
  <body-bg class="bg-body-helpful">
    <span>Helpful</span>
  </body-bg>
  <body-bg class="bg-body-useful">
    <span>
      Useful
    </span>
  </body-bg>
</body-bg-container>