<div class="modal mx-auto" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-default-dark">
      <div class="modal-header row">
        <h2 class="modal-title col-10">Modal title</h2>
        <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn">Save changes</button>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>