.close,
.close:hover
{
  color: #FFFFFF;
}

.modal-footer,
.modal-header {
  border:none;
}

.modal-dialog {
  border: 1px solid rgba(255, 255, 255, 0.6);
  width:90%;
  height: 90%;
}

.modal-content {
  border-radius: 0;
  background-color: #293040;
}